---
import HeroSection from '../components/section/HeroSection.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Air Cold Tec" description='tecnico en refrigeracion'>
    <HeroSection />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et officiis vitae cupiditate nulla. Accusantium id animi adipisci aliquid. Provident porro hic ducimus at reiciendis iure esse quo ea officiis aspernatur.
    Alias, maiores vitae deleniti quibusdam commodi neque atque sint tempora eum, delectus qui optio. Quibusdam natus quasi libero quam molestiae. Laudantium earum illo sequi praesentium quia et rem inventore illum?
    Possimus quaerat consectetur beatae error voluptas dolor? Deleniti eveniet quis totam minima aut aliquam architecto est. Asperiores labore inventore voluptatum doloribus ipsum earum quae accusantium nobis, voluptatem praesentium ea obcaecati! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo molestiae cupiditate alias nobis velit ab autem non provident ipsam vel, exercitationem dignissimos, expedita atque, magnam voluptatibus facilis reprehenderit. Quod, debitis!
    Labore, veniam ipsum? Laborum est recusandae tempore, dolore accusantium fuga ad fugit veritatis harum odio ratione. Quo neque, veritatis eos obcaecati dolor, error consequatur minus, vitae ea sint eius aut.
    Veritatis sapiente deleniti nihil fugiat sint iure, dicta corrupti. Fuga ab iusto iure eos? Aliquid quasi tenetur ut, veritatis alias, nihil voluptates possimus reprehenderit, eos optio eum cumque vero minima.
    Unde expedita libero illum distinctio dicta officiis doloribus cum neque incidunt labore eius, corrupti, molestiae doloremque ut quisquam, voluptates maxime ducimus maiores quibusdam tempore aliquam blanditiis. Molestiae quasi atque illo?
    Repellendus quam earum explicabo tempora recusandae et porro libero? Sequi, perspiciatis officiis accusamus autem, saepe tempora magnam veniam recusandae eveniet deleniti libero. Voluptates reiciendis suscipit, consectetur cum odio impedit nesciunt.</p>
</Layout>


