---
import Layout from "../layouts/Layout.astro"
//Alertcomponent.astro
---

<Layout title="Air Cold Tec" description='tecnico en refrigeracion'>
    <section class="flex bg-center bg-cover mt-0 pt-24 brightness-75" style="background-image: url('/img/fondo2.jpg')">
        <div class="flex flex-col mx-auto mt-20 mb-32 py-5 px-5 bg-blue-950 rounded-2xl w-full max-w-md">
            <h2 class="mb-6 text-3xl tracking-tight font-extrabold text-center text-white">Presupuestos Personalizados</h2>
            <form action="https://formsubmit.co/0d0d6aab57d3954b8fc605e7aa66878c" method="POST" class="space-y-4">
                <div class="relative">
                    <input type="email" name="email" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" placeholder="IngreseSu@gmail.com..." required>
                </div>
                <div class="relative">
                    <input type="text" name="nombre" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" placeholder="Nombre y Apellido..." required>
                </div>
                <div class="relative">
                    <textarea name="marca_frigorias" rows="2" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" placeholder="Marca y Frigorías del Equipo..." required></textarea>
                </div>
                <div class="relative">
                    <textarea name="localidad" rows="2" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" placeholder="Localidad a colocar el Equipo..." required></textarea>
                </div>
                <div class="relative">
                    <textarea name="ubicacion_interior" rows="3" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" placeholder="Ubicación de Unidad Interior..." required></textarea>
                </div>
                <div class="relative">
                    <textarea name="ubicacion_exterior" rows="3" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" placeholder="Ubicación de Unidad Exterior..." required></textarea>
                </div>
                <div class="relative">
                    <label for="foto" class="text-bold ml-3 text-white">Adjuntar Foto de las ubicaciones(opcional)</label>
                    <input type="file" name="foto" id="foto" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" accept="image/*">
                </div>
                <div class="relative">
                    <textarea name="tipo_urgencia" rows="1" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-200 placeholder-gray-300 text-white" placeholder="Tipo de Urgencia del Trabajo..." required></textarea>
                </div>
                <button id="Mensaje" type="submit" class="flex items-center py-3 px-8 mx-auto text-sm font-bold text-white rounded-3xl bg-cyan-500 border border-slate-200 placeholder-gray-600 hover:text-black hover:bg-white">
                    Enviar
                </button>
                <input type="hidden" name="_next" value="https://aircoldtec.netlify.app/">
                <input type="hidden" name="_captcha" value="false">
            </form>
        </div>
    </section>  

    <script>
        document.getElementById("Mensaje").addEventListener("click", function() {
            alert("Mensaje enviado con éxito, a la brevedad serás respondido. Para volver al inicio toca el LOGO. ¡Gracias!");
        });
    </script>
</Layout>