---
const {instalacion} = Astro.props
---

<div id="carrusel" class="h-full w-[400px] m-2 flex-shrink-0 cursor-pointer">
    <div class="rounded-3xl overflow-hiddenc mb-4 h-[250px]">
            <img class="size-[100%] object-cover absolute top-0 left-0" src=`/img/instalaciones/instalacion-${instalacion.id}` alt="instalacion">
            
    </div>
    <div>
        <div>
            
        </div>
    </div>
</div>