---
const {id} = Astro.props
//AlerComponent.astro
---

<section id={id} class="flex flex-col md:flex-row h-auto mt-2 pt-10 brightness-90 bg-cover" style="background-image: url('/img/fondo4.jpg')">
    <div class="flex flex-col mt-10 md:mx-5 md:ml-5">
        <h3 class="text-sky-950 font-extrabold text-4xl text-center md:text-left">El clima ideal está a solo una llamada! <br> Déjanos cuidar de tu aire acondicionado</h3>
        <a class="flex items-center justify-center mt-10 mb-10 py-2 xl:ml-44 xl:mr-64 lg:mr-44 lg:ml-0 md:mr-56 md:ml-0 max-w-sm sm:mr-56 sm:ml-0 text-sm font-bold text-white rounded-3xl p-4 bg-green-900 border border-green-400 placeholder-gray-400 hover:text-slate-700 hover:bg-gray-200" href="https://wa.me/+542221402352?text=Hola, realiza tu consulta! a la brevedad seras respondido" target="_blank">
            <img class="w-[50px] h-[50px]" src="/img/logowhatsapp.png" alt="logo"> Whatsapp
        </a>
    </div>

    <div class="flex flex-col bg-blue-950 rounded-3xl mb-10 mr-10 mx-5 md:mx-6 p-5 md:w-[500px] max-w-md lg:ml-36 lg:w-full lg:mt-44 xl:ml-36 xl:w-full">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-center text-white">Contáctanos</h2>
        <form action="https://formsubmit.co/0d0d6aab57d3954b8fc605e7aa66878c" method="POST" class="space-y-5">
            <div class="relative">
                <input type="email" name="email" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-300 placeholder-gray-300 text-white" placeholder="IngreseSu@gmail.com" required>
            </div>
            <div class="relative">
                <input type="text" name="nombre" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-300 placeholder-gray-300 text-white" placeholder="Nombre" required>
            </div>
            <div class="relative">
                <textarea name="Mensaje" rows="6" class="p-3 w-full text-sm rounded-2xl bg-transparent border border-slate-300 placeholder-gray-300 text-white" placeholder="Escribe tu mensaje...."></textarea>
            </div>
            <button id="Mensaje" type="submit" class="flex items-center py-3 px-8 mx-auto text-sm font-bold text-white rounded-3xl bg-cyan-400 border border-slate-200 placeholder-gray-600 hover:text-black hover:bg-white">
                Enviar
            </button>
            <input type="hidden" name="_next" value="https://aircoldtec.netlify.app/#Contactanos">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>

</section>

<script>
    document.getElementById("Mensaje").addEventListener("click", function() {
        alert("Mensaje enviado con éxito, a la brevedad serás respondido. ¡Gracias!");
    });
</script>