---
const {id} = Astro.props
---
<header
id="nav-bar"
    class="fixed flex w-full justify-between px-12 h-28 bg-indigo-950">
    <div>
        <a href="/" class="">
            <img  src="/img/iconosinfondo.png" alt="logo" class="w-[180px] h-[180px] -mt-8" >
        </a>
        
    </div>
    <h5 class="mt-9 mr-[500px] text-4xl font-medium text-cyan-400">Air Cold</h5>
    
    <nav class="flex flex-wrap gap-24 p-5 items-center font-semibold italic">
        <a class="underLine-animated " href="#Contactanos">Contactanos</a>
        <a class="underLine-animated" href="#Trabajo">Nuestros Trabajos</a>
        <a class="underLine-animated" href="#Servicios">Nuestros Servicios</a>
        
    </nav>
</header>

<style>
    #nav-bar{
        z-index: 1;
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;

    }
    @keyframes blur{
        to{
            color: whitesmoke;
            box-shadow: 
            0px 5px 150px -5px hsla(225, 9%, 73%, 0.795),
            0px 0px 0px 0px hsla(218, 88%, 37%, 0.453);
            background: rgba(12, 18, 101, 0.586);
            backdrop-filter: blur(8px);
            
        }
    }

    @keyframes underLineanimaiton{
        from{
            width: 0;
            opacity: 0;

        }
        to{
            width: 100%;
            opacity: 1;
        }
    }
    .underLine-animated {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }

    .underLine-animated::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: rgb(0, 195, 255);
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.6s ease;
        transform-origin: bottom right;
    }
    .underLine-animated:hover::after{
        transform: scaleX(1);
        transform-origin: bottom right;
    }
</style>