---

---
<header 
id="nav-bar"
    class="fixed flex w-full justify-between px-12 h-28 bg-indigo-950">
    <div>
        <a href="/" class="">
            <img  src="/img/iconosinfondo.png" alt="logo" class="w-[180px] h-[180px] -mt-8" >
        </a>
    </div>
    
    <nav class="flex flex-wrap gap-24 p-5 items-center font-semibold italic">
        <a class="underLine-animated " href="/">Contactanos</a>
        <a class="underLine-animated" href="/">Nuestros Servicios</a>
        <a class="underLine-animated" href="/">Nuestros Trabajos</a>
        
    </nav>
</header>

<style>
    #nav-bar{
        z-index: 1;
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;

    }
    @keyframes blur{
        to{
            color: whitesmoke;
            box-shadow: 
            0px 5px 50px -5px hsla(0, 0%, 100%,0.1),
            0px 0px 0px 1px hsla(0,0,100%,0.1);
            background: rgba(0, 0, 0, 0.58);
            backdrop-filter: blur(10px);
            
        }
    }

    @keyframes underLineanimaiton{
        from{
            width: 0;
            opacity: 0;

        }
        to{
            width: 100%;
            opacity: 1;
        }
    }
    .underLine-animated {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }

    .underLine-animated::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: rgb(0, 195, 255);
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.6s ease;
        transform-origin: bottom right;
    }
    .underLine-animated:hover::after{
        transform: scaleX(1);
        transform-origin: bottom right;
    }
</style>