---

---

<section class="relative">
    <a href="/">
        <img class="w-full h-[110vh] md:h-screen object-cover object-top brightness-50" src="/img/fondo2.jpg" alt="fondo">
    </a>
    <div class="absolute inset-0 flex flex-col items-center justify-center gap-6 md:gap-10">
        <h1 class="text-4xl md:text-5xl lg:text-5xl font-medium italic text-neutral-200 text-center">
            Técnico en Refrigeración
        </h1>
        <h5 class="text-xl md:text-2xl -mt-4 text-neutral-200 text-center">
            ¡Confiabilidad y Profesionalismo en cada servicio!
        </h5>
    </div>
</section>

