<section>
    <a href="">
        <img class="w-full h-screen object-cover object-top brightness-50" src="/img/fondo1.jpg" alt="fondo">
    </a>
    <div class="absolute inset-0 flex flex-col items-center justify-center gap-20">
        <h1 class="text-5xl font-medium italic text-neutral-200 ">Tecnico en Refrigeracion</h1>
    </div>
</section>
<section>
    <nav>
        
    </nav>
</section>
