---

---

<section class="">
    <a href="/">
        <img class="w-full h-screen object-cover object-top brightness-50" src="/img/fondo2.jpg" alt="fondo">
    </a>
    <div class="absolute inset-0 flex flex-col items-center justify-center gap-20">
        <h1 class="text-5xl font-medium italic text-neutral-200 ">Técnico en Refrigeracion</h1>
        <h5 class="text-2xl -mt-14 text-neutral-200">¡Confiabilidad y Profesionalismo en cada servicio!</h5>
    </div>
</section>
