---

---

<section class="flex flex-col justify-center bg-[#1a284adc] h-auto w-full mt-10 items-center p-4">
    <div class="text-center text-4xl animate-fade animation-infinite animate-duration-[8s] animate-delay-[3s]">
        <h2 class="font-serif">
            Trabajamos de manera Honesta, Responsable y con Garantía
        </h2>
        <h5 class="mt-2 font-serif text-2xl md:text-xl">
            ¡Mantenemos el aire puro y fresco porque cada día merece ser perfecto!
        </h5>
    </div>
</section>

<!--<section class="flex flex-col justify-center bg-[#1a284adc] h-[150px] w-full mt-10 items-center">
    <div class="text-4xl animate-fade animation-infinite animate-duration-[8s] animate-delay-[3s]">
        <h2 class="font-serif">Trabajamos de manera Honesta, Responsable y con Garantía <br><h5 class="ml-28 mt-2 font-serif text-2xl">¡Mantenemos el aire puro y fresco porque cada día merece ser perfecto!</h5></h2>
    </div>
</section> -->

