---

---

<section class="flex justify-center bg-[#1C2D37] h-[300px] w-full mt-10 items-center">
    <div class="grid grid-cols-3 grid-rows-2 gap-28 p-4">
        <div class="flex flex-col text-center gap-2 animar">
            <div class="flex items-center" data-astro-cid-s5mrpxjm>
                <span class="text-6xl font-bold" data-astro-cid-s5mrpxjm>+</span>
                <div class="text-6xl font-bold counter" data-cantidad-total>100
                </div>
                <p class="font-semibold" data-astro-cid-s5mrpxjm>Instalaciones realizadas</p>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-3 grid-rows-2 gap-28 p-4">
        <div class="flex flex-col text-center gap-2 animar">
            <div class="flex items-center" data-astro-cid-s5mrpxjm>
                <span class="text-6xl font-bold" data-astro-cid-s5mrpxjm>+</span>
                <div class="text-6xl font-bold counter" data-cantidad-total>50
                </div>
                <p class="font-semibold" data-astro-cid-s5mrpxjm>Reparaciones realizadas</p>
            </div>
        </div>
    </div>
</section>