---
import {instalaciones} from '../../data/instalaciones';
import Carruselinstalaciones from "../Carruselinstalaciones.astro";
import HeroSection from './HeroSection.astro';


const carruselinstalaciones = [...instalaciones, ...instalaciones];
const {id} = Astro.props
---

<section id={id} class="pt-32">
        <div class="text-center mb-16">
        
            <h3 class="text-indigo-950  text-6xl font-semibold">
                Nuestros <span class="font-light text-indigo-950">Trabajos</span>
            </h3>

        </div>
        
        <article class="overflow-hidden">
            <div class="flex animate-scroll">
            {
                instalaciones.map((instalacion)=> (
                    <Carruselinstalaciones instalacion ={instalacion}/>
                ))
            }
            </div>

        </article>
</section>
<style>
    @keyframes scroll{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-650px * 14 - 0.8rem * 10));

        }
    }
    .animate-scroll{
        animation: scroll 40s linear infinite alternate-reverse;
    }
    .animate-scroll:hover{
        animation-play-state: paused;
    }
</style>