---
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="{description}"/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/img/aire3.png"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot/>
	</body>
</html>
<style is:global>
    html{
		font-family: system-ui, sans-serif;
		color: white;
		background-color: grey;
		background-size: 224px;
		scroll-behavior: smooth;
	}
</style>